# Prerequisites
*.d

# Object files
*.o
*.obj
*.elf

# Linker guff
*.ilk
*.map
*.exp

# Precompiled Headers (who uses these)
*.gch
*.pch

# Actual build libraries
*.lib
*.a
*.la
*.lo

# Shared objects and dlls
*.dll
*.so
*.so.*
*.dylib

# apps
*.exe
*.out
*.app
*.bin

# debug
*.dSYM/
*.su
*.idb
*.pdb

# build output
build/
dist/

# dependencies
external/

# editors & per-user files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# compile commands
compile_commands.json